@using ShopsProducts.SDK;

@model SearchResults

@{
    ViewBag.Title = "EBay";
    Layout = "~/Views/Shared/_EBayLayout.cshtml";
}

@if (Model != null && !string.IsNullOrEmpty(Model.Text))
{
    <div class="list-pagging">
        @{
            int startIndex = Model.PageIndex;

            if (startIndex < 5)
            {
                startIndex = 1;
            }
            else
            {
                startIndex -= 5;
            }

            for (int i = 0; i < 10; i++, startIndex++)
            {
                if (startIndex == Model.PageIndex)
                {
                    <span>@startIndex</span>
                }
                else
                {
                    <a href="@Url.Action("Ebay", "Shops", new { query = Model.Text, pageIndex = startIndex })">@startIndex</a>
                }
            }
        }
    </div>
}
<div>
    <ul>
        @if (Model != null)
        {
            ISingleItem[] array = Model.Results.ToArray();

            for (int i = 0; i < array.Length; i++)
            {
                <li>
                    <hr />
                    <div class="list-image-left inline-block">
                        <a href="@Url.Action("EbayItem", "Shops", new { id = array[i].ItemId })">
                            <img src="@array[i].GalleryUrl" alt="@array[i].Title" class="img-rounded" />
                        </a>
                    </div>
                    <div class="list-alltext inline-block">
                        <h3 class="list-title">
                            <a href="@Url.Action("EbayItem", "Shops", new { id = array[i].ItemId })">
                                @array[i].Title
                            </a>
                        </h3>
                        <div class="list-price">
                            @string.Format(CultureFromCountry.GetCulture(array[i].Country), "{0:C}", array[i].Price)
                        </div>
                    </div>
                </li>
            }
            <hr />
        }
    </ul>
</div>

